*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:$bgmain ;
    font-family: 'Poppins', sans-serif  ;
    word-spacing: 5px;
    letter-spacing: 3px;
    font-weight: bold;
}